@font-face {
    font-family: "Bikes";
    src: url(../fonts/BIKES.ttf) format("truetype");
}

html, body {
    background-color:#e3e3c1;
}
body{
	font-family:'Helvetica Neue','Helvetica',sans-serif;
	margin:0px
}



a {
    color:#444
}
a:visited {
	color:#444
}

.wrapper {

    display:block;
    margin-left: auto;
    margin-right: auto;
}
.padding {
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.bikeSign {
    background-image: url("../img/tile.png");
    background-repeat: repeat;
    text-align: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    max-width: 600px;
    height:auto;
    margin-top: 0px;
    margin-bottom: 0px;

    position:relative;
    -webkit-box-shadow:0 3px 5px 1px rgba(9,20,20,0.35);
    box-shadow:0 3px 5px 1px rgba(9,20,20,0.35);
    border:8px solid rgba(40,50,8,1);
    border-radius:18px
}

.bikeFont {
    font-family: 'Bikes';
    font-size: 190px;
    line-height: 200px;
    margin-top: 23px;
    margin-bottom: 0px;
    text-align: center;
    color: rgba(25,40,8,.90);
}

.header-title {
    font-family:'Helvetica Neue' ,'Helvetica',sans-serif;
    font-size:57px;
    text-align:center;
    font-weight: bold;
    margin:0;
    color:rgba(25,40,8,.90);
}

@media screen and (max-width:900px){
    .header-title {
        font-size:57px
    }
    .bikeFont {
        font-size:190px;
    }
}

@media screen and (max-width:600px){
    .header-title {
        font-size:44px
    }
    .bikeFont {
         font-size:150px;
    }
}

@media screen and (max-width:475px){
    .header-title {
        font-size:37px;
    }
    .bikeFont {
         font-size:120px;
    }
}
.header-full {
    width:100;
    margin:0px;
}

img.header-background-image{
    width:100%;
}


.bff {
    color:#4c9133;
    font-weight:bold;
    font-size:110%;
    text-shadow: -1px 1px #000000;
}

.header-subtitle {
	font-size:22px;
}


.content-social {
    text-align:center;
	padding-bottom:5px;

}



.content {
    display:block;
	text-align:center;
	-webkit-box-shadow:inset 0 0 2px 1px #000;
	box-shadow:inset 0 0 2px 1px #000;
	height:100%;
	margin:0px;
	padding-top: 1px;
	padding-bottom: 10px;
    background-color:#f2f6f2;
    background:-moz-linear-gradient(top,#f2f6f2 0,#b9c6b9 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f2f6f2),color-stop(100%,#b9c6b9));
    background:-webkit-linear-gradient(top,#f2f6f2 0,#b9c6b9 100%);
    background:-o-linear-gradient(top,#f2f6f2 0,#b9c6b9 100%);
    background:-ms-linear-gradient(top,#f2f6f2 0,#b9c6b9 100%);
    background:linear-gradient(to bottom,#f2f6f2 0,#b9c6b9 100%);
}

.content-full-description {
    margin:5px;
	width:auto;
    border-radius:4px
}


.content-description-left {
    width:300px;
}
.content-full-description>img {
	left:12px;
    padding: 5px;
}
.content-full-description>p {
    text-align:left;

}.content-description-right {

}
.content-description-right>:first-letter
{
    font-size:130%;
}
a.download{
	width:200px;
	height:73px;
	display:inline-block;
	margin:10px;
	position:relative;
	background:#fff;
	background:-moz-linear-gradient(top,#fff 0,#dfdfdf 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#dfdfdf));
	background:-webkit-linear-gradient(top,#fff 0,#dfdfdf 100%);
	background:-o-linear-gradient(top,#fff 0,#dfdfdf 100%);
	background:-ms-linear-gradient(top,#fff 0,#dfdfdf 100%);
	background:linear-gradient(to bottom,#fff 0,#dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@start-color',endColorstr='@end-color',GradientType=0);
	-webkit-box-shadow:0 1px 2px 1px rgba(0,0,0,0.25);
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.25);
	border:1px solid rgba(0,0,0,0.46);
	border-radius:4px
}

.social-left {
    text-align:center;
}

.social-right {
    text-align:center;
}

.social {
	width:160px;
	height:auto;
	display:inline-block;
	margin:5px;
	padding:5px;
	position:relative;
	background:#fff;
	background:-moz-linear-gradient(top,#fff 0,#dfdfdf 100%);
    	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#dfdfdf));
    	background:-webkit-linear-gradient(top,#fff 0,#dfdfdf 100%);
    	background:-o-linear-gradient(top,#fff 0,#dfdfdf 100%);
    	background:-ms-linear-gradient(top,#fff 0,#dfdfdf 100%);
    	background:linear-gradient(to bottom,#fff 0,#dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@start-color',endColorstr='@end-color',GradientType=0);
	-webkit-box-shadow:0 1px 2px 1px rgba(0,0,0,0.25);
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.25);
	border:1px solid rgba(0,0,0,0.46);
	border-radius:4px
}

.download-text {
	position:absolute;
	top:0;
	right:0;
	border-left:1px solid rgba(0,0,0,0.46);
	line-height:67px;
	padding:6px 10px 0 15px;
	font-size:25px;
	font-family:'Myriad Pro',sans-serif;
	color:#727272
}


a.download>img {
    position:absolute;
    left:12px
}

.appstore-img {
    width:172px;
    top:11px;
}

.playstore-img {
    top:7px;
}

.footer {
    text-align:center;
    padding-top:10px;
}